/* {

 }  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



html, body {
  scroll-behavior: smooth !important;
}

/* Start General Styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-2xl {
  font-size: 3rem;
  font-weight: 700;
}
.text-xl {
  font-size: 2.5rem;
  font-weight: 700;
}
.text-lg {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-md {
  font-size: 1.25rem;
  font-weight: 500;
}

.text-base {
  font-size: 1.125rem;
  font-weight: 500;
}

.text-sm {
  font-size: 1rem;
  font-weight: 400;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.gap-4 {
  gap: 4px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.mr-4 {
  margin-right: 4px;
}

.mt-4 {
  margin-top: 4px;
}
.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mt-12 {
  margin-top: 12px;
}

.ml-4 {
  margin-left: 4px;
}

.tiny-divider {
  border-top: 3px solid #00aeff;
  margin: 15px auto;
  width: 4rem;
}
/* End of General Styles */

:root {
  --primary-color: #00aeff;
  --secondary-color: rgb(8, 68, 130);
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: clip;
}


